<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <header>
            <img src="imagenes/logo-mercado-liebre.svg" alt="logo">
            <h2>Lugar para poner la barra de búsqueda</h2>
            <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
            <nav>
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                </nav>

        <nav>
        <ul>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis compras</li>
        </ul>
        </nav>
     
        </header>
        <main>
<section>
    <h4>Basado en tu última visita</h4>
    <div>
        <img src="/imagenes/img-cafetera-moulinex.jpg" alt="Cafetera">
    </div>
    <p class="precio">$6.770</p>
    <p class="descuento">40% OFF</p>
    <h5>Cafetera Moulinex</h5>

    <div>
        <img src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook">
    </div>
    <p class="precio">$230.000</p>
    <p class="descuento">20% OFF</p>
    <h5>MacBook Pro 2019</h5>

    <div>
        <img src="/imagenes/img-samsung-galaxy.jpg" alt="Celular">
    </div>
    <p class="prescio">$70.500</p>
    <p class="descuento">10% OFF</p>
    <h5>Samsung Galaxy S10</h5>
  
    <div>
        <img src="/imagenes/img-tv-samsung-smart.jpg" alt="SmartTv">
    </div>
    <p class="precio">$23.200</p>
    <p class="descuento">5% OFF</p>
    <h5>SmartTv Samsung 43"</h5>

</section>


<section>
    <h4>Sección de Ofertas</h4>
    <div>
        <img src="/imagenes/img-cafetera-moulinex.jpg" alt="Cafetera">
    </div>
    <p class="precio">$6.770</p>
    <p class="descuento">40% OFF</p>
    <h5>Cafetera Moulinex</h5>

    <div>
        <img src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook">
    </div>
    <p class="precio">$230.000</p>
    <p class="descuento">20% OFF</p>
    <h5>MacBook Pro 2019</h5>

    <div>
        <img src="/imagenes/img-samsung-galaxy.jpg" alt="Celular">
    </div>
    <p class="precio">$70.500</p>
    <p class="descuento">10% OFF</p>
    <h5>Samsung Galaxy S10</h5>
  
    <div>
        <img src="/imagenes/img-tv-samsung-smart.jpg" alt="SmartTv">
    </div>
    <p class="precio">$23.200</p>
    <p class="descuento">5% OFF</p>
    <h5>SmartTv Samsung 43"</h5>

</section>

        </main>
        <footer>
<h3>Pagá con tarjeta o en efectivo</h3>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
<h3>Envío gratis desde $ 2.500</h3>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>
<h3>Seguridad, de principio a fin</h3>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>



        </footer>
    </body>

</html>