body{
    font-family:"Roboto";
    
}

header{
    background-color: #EAC926;
    color: #666;

}

/* iconos head */

.burger-menu{
    text-align: center;
    color: #03264C;

}
.fa-search{
    color: #03264C;
}
.fa-hand-holding-usd{
    color: #03264C;
}
.fa-address-card{
    color: #03264C;
}
.fa-sign-in-alt{
    color: #03264C;
}

.fa-shopping-basket{
    color: #03264C;
}
.fa-bars{
    background-color: #1259c3;
    padding: 8px;
    color: white;
    border-radius: 5px;
}

h4{
    font-size: 24px;
    color: aqua;
}
.p-precio{
    font-size: 18px;
}
.p-descuento{
    font-size: 16;
}
h5{
    font-size: 16px;
    text-align: center;
}

/* iconos Footer */
