body{
    font-family:"Roboto";
    
}

header{
    background-color: #EAC926;
    color: #666;

}

/* iconos */

.burger-menu{
    text-align: center;
    color: #03264C;

}
.fa-search{
    color: #03264C;
}
.fa-hand-holding-usd{
    color: #03264C;
}
.fa-address-card{
    color: #03264C;
}
h4{
    font-size: 24px;
    color: aqua;
}
.p-precio{
    font-size: 18px;
}
.p-descuento{
    font-size: 16;
}
h5{
    font-size: 16px;
    text-align: center;
}